<!DOCTYPE html>
<html>
    <body>
    <h1>Add Your Song!</h1>
    <form method="post" action="/songs">
       <label for="name">Name:</label>
       <input id="name" type="text" name="song[name]">
       <br>

       <label for="artist">Artist:</label>
       <input id="artist" type="text" name="artist[name]">
       <br>

       <label for="genres">Genres (please select all that apply):</label>
       <br>
       <%@genres.each do |genre|%>
            <%=genre.name%><input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%=genre.id%>">
        <%end%>
        <input type="submit" value="Create">

    </form>
    </body>

</html>
